* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    padding: 0;
}
#video-background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100; /* Ensures the video is behind other content */
    overflow: hidden;
}
header {
    background: linear-gradient(to bottom, #92CCf7 0%, #308DCA 50%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    border-bottom: 2px solid rgb(33, 105, 200);
}
header a{
    text-decoration: none;
}
header a h1 {
    margin-right: 650px;
    color: white;
    cursor: pointer;
}
header h1:hover{
    color: rgb(108, 174, 215);
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
}

header ul li {
    margin-left: 10px;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 40px;
    cursor: pointer;
}

a:hover{
    color: rgb(108, 174, 215);
}
footer {
    height: 10vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
}

.container{
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: white;
}

.container .l{
    height: 70vh;
    width: 22vw;
    margin: 0 5.5rem;
    border: 1px solid rgb(36, 93, 217);
    border-radius: 20px;
}
.container .l h2{
    text-align: center;
}



.container .m{
    height: 70vh;
    width: 22vw;
    margin: 0 5.5rem;
    border: 1px solid rgb(36, 93, 217);
    border-radius: 20px;
}
.container .m h2{
    text-align: center;
}



.container .r{
    height: 70vh;
    width: 22vw;
    margin: 0 5.5rem;
    border: 1px solid rgb(36, 93, 217);
    border-radius: 20px;
}
.container .r h2{
    text-align: center;
}

.box{
    display: flex;
    justify-content: spac;
    align-items: center;
    flex-direction: column;
    margin: 2.5rem;
}